<!-- Portfolio Section -->
<section class="page-section portfolio" id="portfolio">
  <div class="container">

    <!-- Portfolio Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>

    <!-- Icon Divider -->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fa fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- Portfolio Grid Items -->
    <div class="row">

      <!-- Portfolio Item 1 -->
      <div *ngFor="let project of projects" class="col-4">
      <!--<div *ngFor="let project of projects" class="col-md-6 col-lg-4">-->
        <div class="portfolio-item mx-auto">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
              <i (click)="openModal(project.id)" class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="{{project.image}}" alt="">
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
</section>
