<!-- About Section -->
<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">

    <!-- About Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>

    <!-- Icon Divider -->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fa fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- About Section Content -->
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="lead">I have a degree in information systems. I currently work at AFIP where I develop applications using technologies like Java, VueJS, Selenium and others. I am passionate about knowledge, and I always try to learn more.</p>
        <p class="lead">In 2020 I obtained a certificate of "Leadership and Management for PM Practitioners in IT" at the University of Washington.</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="lead">I was born in Mercedes, and I currently live in Palermo. In my spare time I play soccer and go to the gym. I did a bodybuilding instructor course. <br>Messi is the GOAT.</p>
      </div>
    </div>

  </div>
</section>
